.search {
    border-radius: 5px;
    padding: 7px;
    border: 1px solid black;
    width: 300px;
}

.quantity {
    border-radius: 5px;
    padding: 7px;
    border: 1px solid black;
    width: 150px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000020;
  }